body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #DCE0D9;
  }
.box{
  margin-top: 6%;
  width: 370px;
  padding: 40px;
  position: relative;
  background: #2C365E;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.tudo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box input[type = "email"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #B57F50;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #B57F50;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 280px;
}

.box input[type = "text"],.box input[type = "password_confirmation"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #B57F50;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #B57F50;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password_confirmation"]:focus{
  width: 280px;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #B57F50;
  padding: 14px 40px;
  outline: none;
  color: #B57F50;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #B57F50;
  color: white;
}

.box input[type = "date"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #B57F50;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #B57F50;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "date"]:focus,.box input[type = "password"]:focus{
  width: 280px;
}
