.nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: #670000;
    font-family: 'Libre Baskerville', serif;
}

.logo{
    display: flex;
    color: rgb(41, 189, 248);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    justify-content: left;
    padding-right: 30%;
    a {
      color: rgb(41, 189, 248);
    }
    a:hover {
      color: rgb(41, 189, 248);
      text-decoration: none;
    }

    h5 {
      margin: 0;
    }
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45vh;
    margin: 0;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
}
