body{
    margin: 0;
    padding: 0;
  }
.box{
  width: 660px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2C365E;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

p, th, tr, strong {
    color: white;
    font-weight: 400;
}

a {
  color: #b57f50;
}

a:hover {
  color: #b57f50;
}

strong {
  color: #b57f50;
}

td {
    padding-left: 12px;
}


.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 200px;
  height: 200px;
}
.personal-avatar {
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 40%;
  width: 50px;
  height: 50px;
}

div #add-funds-btn{
  margin-top: 3px;
  border:0;
  outline: none;
  background: none;
  text-align: center;
  border: 2px solid #670000;
  padding: 4px 8px;
  color: #b57f50;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
div #add-funds-btn:hover{
  background: #670000;
  color: white;
}

div #add-money-submit{
  border:0;
  background: none;
  text-align: center;
  border: 2px solid #670000;
  padding: 4px 8px;
  margin-top: 2px;
  outline: none;
  color: #b57f50;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
div #add-money-submit:hover{
  background: #670000;
  color: white;
}

div input[type = "number"]{
  border:0;
  background: none;
  text-align: center;
  border: 2px solid #670000;
  padding: 4px 8px;
  width: 150px;
  outline: none;
  color: #b57f50;
  border-radius: 24px;
  transition: 0.25s;
}
div input[type = "number"]:focus{
  width: 200px;
}

.personal-figure {
  input[type = "submit"] {
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #fff;
    padding: 4px 8px;
    margin-top: 2px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  input[type = "submit"]:hover{
    background: rgba(0,0,0,0);
  }
}
