body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
  width: 370px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #191919;
  text-align: center;
  z-index: 1;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"],.box input[type = "number"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "number"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "file"]{
  display: none;
}

.box label{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box label:hover{
  border-color: #2ecc71;
  background: #2ecc71;
}

.box select{
    border:0;
    background: none;
    display: block;
    margin: 40px auto 0px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box select:focus{
  width: 280px;
  border-color: #2ecc71;
}


.box textarea{
    border:0;
    background: none;
    display: block;
    margin: 40px auto 0px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box textarea:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
